.flex-container{ 
  margin-left: 200px;
  margin-top: 35px;
  font-family: sans-serif;
  display: flex;
  background-color: #FFFFFF;
}
.flex-container> div {
  box-shadow: 8px 8px 5px #0a0a0a29;
  border-radius: 15px;
  border: 2px solid red;
  background-color: #FFFFFF;
  margin: 20px -120px 30px 200px;
  padding: 20px 30px 120px 30px;
  font-size: 20px;
  width: 150px;
}
.red{
  color: red;
}
.main{
  margin-top: 100px;
  align-content: center;
}
.flex-container2{
  font-family: sans-serif;
  display: flex;
  background-color:#FFFFFF;
}
.flex-container2> div {
  height: 200px;
  box-shadow: 2px 2px 2px #0a0a0a29;
  border-radius: 15px;
  border: 2px solid red;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-left: 35%;
  padding: 20px 0px 190px 120px;
  font-size: 20px;
  margin-right: 35%;
}
.main2{
  font-family: sans-serif;
  font-size: 65px;
  margin-top: 40px;
  margin-left: 36%;
}
.back{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 35px;
  color: olive;
  font-family: sans-serif;
  margin-left: 45%;
  text-decoration: none;
}
.imp{
  font-family: sans-serif;
  font-size: 3.4rem;
  margin-left: 26%;
  padding-right: 300px;
}
.date{
  font-family: sans-serif;
  font-size: 3.4rem;
}
.list{
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
}
.date{
  font-weight: bolder;
}
.fa{
   font-weight: 900;
  
}
.main2::before{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #000000;
    left: 20%;
    top: 11%;
    position: absolute;
}
.main2::after{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #000000;
    right: 20%;
    top: 11%;
    position: absolute;
}
.link2{
  color: red;
  text-decoration: none;
}
.fafa{
  margin-left: 450px;
  font-size: 48px;
  color: red;
}
