.subhead{
  text-align: center;
  color: orangered;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 600;
}
.add-box{
position: absolute;
  top: 30%;
  left: 35%;
  right: 35%;
  width: 450px;
  height: 220px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 10px #0a0a0a29;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
  backdrop-filter: blur(5px);
}
.new-item{
  margin: auto;
  text-align: center;
  height: 50px;
  width: 300px;
}
.input-box{
  margin-left: 70px;
  margin-top: 1rem;
  height: 40px;
  width: 300px;
  box-shadow: 5px 5px 5px #0a0a0a29;
  border: 1px solid #e74c3c;
  border-radius: 0.5rem;
}
.add-btn{
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  border-radius: 1rem;
  color: white;
  align-items: center;
  margin: auto;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
}
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("./background1image.JPG");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image2{
  background-image: url("./background2image.JPG");
  filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}